.DS_Store
Citibike_data_2019_2021
Citibike_data_2013_2019
Subway Entrances Shapefiles
Subway_Entrances.csv
NYC Bike Lanes Routes Shapefiles
NYC Crash Data - Cashmapper
Borough Boundaries
NOAA_weather_2019_to_2021.csv